APP_NAME=DoyinKenya
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://doyin-backend.onrender.com

LOG_CHANNEL=errorlog
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=db.<your-project-ref>.supabase.co
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=
DB_SSLMODE=require

SESSION_DRIVER=database
SESSION_LIFETIME=120

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=file

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

ADMIN_EMAIL=
ADMIN_OTP_EMAIL=
ADMIN_PASSWORD=
